@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.fonts{
    font-family: 'Aleo', serif;
}
.App {
    text-align: center;
  }

.bg-color{
    background-color: #88d4e4;
}